@using TechJobs6Persistent.ViewModels
@model AddJobViewModel

<h1>Add Job</h1>

<form asp-controller="Job" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="jobName">Name</label>
        <input asp-for="jobName" class="form-control" />
        <span asp-validation-for="jobName" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
        <label asp-for="employerId">Employer</label>
        <select asp-for="employerId" asp-items="Model.Employers" class="form-control">
            <option value="">Select an employer</option>
        </select>
        <span asp-validation-for="employerId" class="text-danger"></span>
    </div>
    <br />

     <div class="form-group">
        <a asp-controller="Employer" asp-action="Create" class="btn btn-link">Add New Employer</a>
    </div>
    <br />

    <input type="submit" value="Add Job" />
</form>